.stickyexample {
    position: -webkit-sticky; /* for browser compatibility */
    position: sticky;
    top: 0px;
  }


  .record-search .grid-container {
    /* make css changes */
  }

  @media screen and (min-width: 800px) {
    .record-search .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
    }
    
  }